<div class="container">
  <div class="main">
    <form nz-form [formGroup]="validateForm" (ngSubmit)='registerSubmit();'>
      <!--邮箱-->
      <nz-form-item>
        <nz-form-label nzFor="email" [nzSm]="8" [nzXs]="24" nzRequired>邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="email" name="email" placeholder="" formControlName="email" required>

          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
            请输入邮箱！</nz-form-explain>

        </nz-form-control>
      </nz-form-item>
      <!--密码-->
      <nz-form-item>
        <nz-form-label nzFor="password" [nzSm]="8" [nzXs]="24" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="password" nz-input id="password" formControlName="password" placeholder="">
          <nz-form-explain *ngIf="(validateForm.get('password').dirty) && validateForm.get('password').errors">
          <ng-container *ngIf="validateForm.get('password').hasError('required')">
              请输入密码！
          </ng-container>
          <ng-container *ngIf="validateForm.get('password').hasError('passWordStrong')">
              密码需要同时包含大写字母、小写字母、数字及特殊符号，长度应在6位以上！
          </ng-container>
          </nz-form-explain>

        </nz-form-control>
      </nz-form-item>
      <!--确认密码-->
      <nz-form-item>
        <nz-form-label nzFor="confirmPassWord" [nzSm]="8" [nzXs]="24" nzRequired>确认密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="password" nz-input id="confirmPassWord" formControlName="confirmPassWord" placeholder="">
          <nz-form-explain *ngIf="(validateForm.get('confirmPassWord').dirty) && validateForm.get('confirmPassWord').errors">
            <!---->
            <ng-container *ngIf="validateForm.get('confirmPassWord').hasError('required')">
              请输入确认密码！
            </ng-container>
            <ng-container *ngIf="validateForm.get('confirmPassWord').hasError('confirm')">
              两次密码输入的不一致！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <!--用户名-->
      <nz-form-item>
        <nz-form-label nzFor="userName" [nzSm]="8" [nzXs]="24" nzRequired>用户名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="userName" formControlName="userName" placeholder="">
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">
          请输入用户名！
          </nz-form-explain>
          
        </nz-form-control>
      </nz-form-item>
      <!--联系方式-->
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber" [nzSm]="8" [nzXs]="24" nzRequired>联系方式</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="phoneNumber" formControlName="phoneNumber" placeholder="">
        </nz-form-control>
      </nz-form-item>

      <!--注册按钮-->
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="8">
          <button nz-button nzType="primary" class="register">注册</button>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
</div>