
@{
    ViewBag.Title = "ValueTest";
}


<h2>ValueTest</h2>

<h2></h2>

<h3>ViewBag：@ViewBag.ViewBagView</h3>
<br />
<h3>ViewData：@ViewData["ViewDataView"]</h3>
<br />
<h3>TempData：@TempData["TempData"]</h3>
<br />

